<div class="navbar">
  <ul class="nb">
    <li id="logoHolder" class="nb"><img class="logo" src="/images/logo.png"></li>
    <li class="nb"><a <% if (locals.active == "profile") { %> class="cactive" <% } %> href="/grade/profile">Profile</a></li>
    <li class="nb"><a <% if (locals.active == "submissions") { %> class="cactive" <% } %> href="/grade/status">Submissions</a></li>
    <li class="nb"><a <% if (locals.active == "contests") { %> class="cactive" <% } %> href="/grade/contests">Contests</a></li>
    <li class="nb"><a <% if (locals.active == "problemset") { %> class="cactive" <% } %> href="/grade/problemset">Problemset</a></li>
    <li class="nb"><a <% if (locals.active == "submit") { %> class="cactive" <% } %> href="/grade/submit">Submit</a></li>
    <li class="nb"><a <% if (locals.active == "info") { %> class="cactive" <% } %> href="/grade/info">Rules and Info</a></li>
    <li class="nb"><a <% if (locals.active == "rankings") { %> class="cactive" <% } %> href="/grade/rankings">Rankings</a></li>
    <!--    <li class="nb"><a <% if (locals.active == "attendance") { %> class="cactive" <% } %> href="/grade/attendance">Attendance</a></li>-->
    <li class="nb"><a <% if (locals.active == "teams") { %> class="cactive" <% } %> href="/grade/teams">Teams</a></li>
    <li class="nb"><a <% if (locals.active == "teamrankings") { %> class="cactive" <% } %> href="/grade/teamrankings">Team Rankings</a></li>
    <li class="nb topnav-right">
      <form style="height: 100%;" action="/grade/logout" method="POST">
        <button class="logoutbtn" type="submit">Log Out</button>
      </form>
      
    </li>
    <li class="nb topnav-right">
      <!--      <a <% if (locals.active == "settings") { %> class="cactive" <% } %> href="/grade/settings">-->
      <img src="/images/settings.png" alt="Settings" style="height:16px;vertical-align:middle;margin-right:4px;filter:invert(1);">
      
      </a>
    </li>
    

  </ul>
</div>
