<!-- /views/partials/navbar.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/grade/profile">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/grade/status">Submissions</a></li>
                <li class="nav-item"><a class="nav-link" href="/grade/contests">Contests</a></li>
                <li class="nav-item"><a class="nav-link" href="/grade/problemset">Problemset</a></li>
                <li class="nav-item"><a class="nav-link" href="/grade/submit">Submit</a></li>
                <li class="nav-item"><a class="nav-link" href="/grade/info">Rules and Info</a></li>
                <li class="nav-item"><a class="nav-link" href="/grade/leaderboard">Leader Board</a></li>
                <li class="nav-item"><a class="nav-link" href="/grade/rating">Rating Graph</a></li>
            </ul>
            <a class="navbar-brand ms-auto" href="https://activities.tjhsst.edu/ict/">
                <img src="/images/TJ.jpeg" alt="Logo" height="40">
            </a>
        </div>
    </div>
</nav>
