<div id="particles-js" class="particles-js"></div>
<script type="text/javascript" src=<%= "../".repeat(locals.depth) + "particles.js" %>></script>
<script>
    particlesJS.load("particles-js", "<%= "../".repeat(locals.depth) + "../particles.json" %>", function () {
        console.log("callback - particles.js config loaded");
    });
</script>
