<!DOCTYPE HTML>
<HTML LANG="EN">
<HEAD>
    <META CHARSET="UTF-8">
    <META HTTP-EQUIV="X-UA-COMPATIBLE" CONTENT="IE=EDGE">
    <META NAME="VIEWPORT" CONTENT="WIDTH=DEVICE-WIDTH, INITIAL-SCALE=1.0">
    <LINK REL="STYLESHEET" TYPE="TEXT/CSS" HREF="../PROFILE.CSS" />
    <TITLE>create problem</TITLE>
</HEAD>
<BODY>
        <form action="/grade/addCheck" method="POST">
          <p><label for="pid">checker id</label></p>
	  <input type = "number" id="cid" name="cid" value = <%=cid%>>
          <br>
          <p><label for="code">code</label></p>
	  <textarea id="code" name="code" rows="4" cols="50"><%=code%></textarea>
          <br>
            <div class="problem-text">
	    <select id="lang" name="lang">
		  <option value="cpp">C++</option>
		  <option value="java">java</option>
		  <option value="python">python</option>
		</select>
		<br>
            </div>
          <input type="submit" value="Submit">
        </form>  






</BODY>

