<!DOCTYPE HTML>
<HTML LANG="EN">
<HEAD>
  <META CHARSET="UTF-8">
  <META HTTP-EQUIV="X-UA-COMPATIBLE" CONTENT="IE=EDGE">
  <META NAME="VIEWPORT" CONTENT="WIDTH=DEVICE-WIDTH, INITIAL-SCALE=1.0">
  <LINK REL="STYLESHEET" TYPE="TEXT/CSS" HREF="../PROFILE.CSS"/>
  <TITLE>Create Problem</TITLE>
</HEAD>
<BODY>
  <form action="/admin/addTest" method="POST">
    <p><label for="tid">Test ID</label></p>
    <input type="number" id="tid" name="tid" value=<%=tid%>>
    <br>
    <p><label for="pid">Problem ID</label></p>
    <input type="number" id="pid" name="pid" valu=<%=pid%>>
    <br>
    <p><label for="test">Test Input</label></p>
    <textarea id="test" name="test" rows="4" cols="50"><%=test%></textarea>
    <br>
    <input type="submit" value="Submit">
  </form>  
</BODY>
