<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../profile.css" />
    <title>Problemset</title>
</head>
<body>
    <div class="navbar">
        <ul class="nb">
            <li class="nb"><a href="/grade/profile">Home</a></li>
            <li class="nb"><a href="/grade/status">Submissions</a></li>
            <li class="nb"><a  class="active" href="/grade/contests">Contests</a></li>
            <li class="nb"><a href="/grade/problemset">Problemset</a></li>
            <li class="nb"><a href="/grade/submit">Submit</a></li>
        </ul>
    </div>
    <br>
    <div class='main-block'>
        <div class="title">Contests</div>
    </div>
    <div class='main-block' id="problems">
        <ul class="sl">
            <li class="sl">
                <a href = <%="/grade/contests/2"%>>
                    <div class="problem-text">Test Contest</div>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
