<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <form method='post' action='uploadfiletest' enctype="multipart/form-data">
    <label for="pid">Problem ID:</label><br>
    <input type='number' id='pid' name='pid'>
    <input type='file' name='files'>
    <input type='submit'>
  </form>
</body>
</html>
