<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <title>First Time</title>
</head>
<body>
    <section class=<%=locals.device%>>
        <div class="bgbox">
            <div class="title"><strong>Welcome!</strong></div>

            <div class="subbox">
                <div class="subtext">
                    <form action="/confirm" method="POST">
                        It looks like it's your first time here<br><br>

                        First, make sure the following information is correct:<br>
                        Name: <strong>
                            <%=locals.name%>
                        </strong><br>
                        Username: <strong>
                            <%=locals.username%>
                        </strong><br>
                        <br>
                        Next, please input your personal email: <br>
                        <input type="email" name="email" id="email" maxlength="100" required></input>
                        <br><br>
                        <br>
                        After all information is correct, click confirm to proceed.
                        <br><br>
                        <div class="cnt_buttons">
                            <button class="button" type="submit">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
            <form class="submit" action="/grade/logout" method="POST">
            </form>
        </div>
    </section>

</body>
</html>
