<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../profile.css" />
    <title>Profile</title>
</head>
<body>
    <%- include("partials/header"); %>
    <%- include("partials/particles", {depth: 2}); %>

    <div id="mainContent">
        <div id="subContent">
          <div class="info-block">
            <div class="title"><p>Profile</p></div>
            <div class="userinfo">Name: <%=locals.name%></div>
            <div class="userinfo">Username: <%=locals.username%></div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
