<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade</title>
    <link rel="stylesheet" type="text/css" href="../profile.css"/>
</head>
<body>
    <div class="navbar">
        <ul class="nb">
            <li class="nb"><a href="/grade/profile">Home</a></li>
            <li class="nb"><a href="/grade/status">Submissions</a></li>
            <li class="nb"><a href="/grade/contests">Contests</a></li>
            <li class="nb"><a href="/grade/problemset">Problemset</a></li>
            <li class="nb"><a class='active' href="/grade/submit">Submit</a></li>
        </ul>
    </div>
    <div class="main-block">
        <div class="title">Submit</div>
    </div>
    <div class="main-block">
        <form action="/grade/status"  method="POST">
            <div class="problem-text">
                <label class="indent" for="problemid">Problem ID</label>
                <input type="number" id="problemid" name="problemid" value=<%=locals.problemid%> min="1" max="100">
            </div>
            <div class="problem-text">
                <select id="lang" name="lang">
                    <option value="cpp">C++</option>
                    <option value="java">Java</option>
                    <option value="python">Python</option>
                </select>
                <br>
                <textarea id="codeinput" name="code" rows="30" cols="80">Insert Code Here</textarea>
            </div>
            <div class="option-buttons">
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>