<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <p>Submit Code</p>
    <form action="/grade/status" method="POST">
        <div>
                <input type = "file" id = "code" name = "code" accept = ".cpp, .java, .py">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>
