<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICT</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    
</head>
<body>
    <canvas width='0' height='0' id="animation" class="animation-area"></canvas>
    <script type="text/javascript" src="animate.js"></script>
    <br><br><br><br><br><br><br><br>
    <section class="main">
        <div class="bgbox"></div>
        <div class="title">Welcome to <strong><em>ICT</em></strong></div>
        <div class="cnt_buttons"> 
            <a class="button_link" id='login' href=<%=locals.loginurl%>>
                <div class="button">
                    Grader
                </div>
            </a>
            <a class="button_link" id='login' href="/">
                <div class="button">
                    Schedule
                </div>
            </a>
        </div>
    </section>
</body>
</html>
