<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TJ Computer Teams Grader</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <section class="phone">
    <div class="subbox">
      <div class="subtext">NOTE: We have detected that you are on a mobile device. Functionality on mobile is limited,
        that is, you can only do attendance.</div>
    </div><br>
    <div class="bgbox">
      <div class="title"><strong><em>TJCT Grader</em></strong></div>
      <br>
      <div class="cnt_buttons">
        <a class="button_link" id='login' href=<%=locals.loginurl%>>
          <div class="button">
            Sign In: Attendance
          </div>
        </a>
        <a class="button_link" id='login' href="https://activities.tjhsst.edu/ict/">
        </a>
      </div>
    </div>
    <div class="subbox">
      <div class="subtext">Welcome to the automatic grader for TJ Computer Team. Please note that this website is hosted
        external to Director. Please email tjctgrader@gmail.com and message Johnny Liu, Daniel Qiu, and Gabriel Xu if
        you have any questions. </div>
    </div>
  </section>

</body>

</html>
