<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ Computer Team Grader</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <section class="phone">
        <div class="subbox">
            <div class="subtext">We have detected that you are on a mobile device. Functionality on mobile is heavily limited.</div>
        </div><br>
        <div class="bgbox">
            <div class="title"><strong><em>TJCT Grader</em></strong></div>
            <br>
            <div class="cnt_buttons">
                <a class="button_link" id='login' href="https://activities.tjhsst.edu/ict/">
                    Back
                </a>
            </div>
        </div>
    </section>

</body>

</html>
