<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <script type="text/javascript" src="../particles.js"></script>
    <script> particlesJS.load("particles-js", "../particles.json", function () {console.log("callback - particles.js config loaded")});</script>
    <div id="particles-js" class="particles-js"></div>

    <div id="mainContent">
      <div class="navbar">
        <ul class="nb">
          <li class="nb"><a class="active" href="/grade/profile">Home</a></li>
          <li class="nb"><a href="/grade/status">Submissions</a></li>
          <li class="nb"><a href="/grade/contests">Contests</a></li>
          <li class="nb"><a href="/grade/problemset">Problemset</a></li>
          <li class="nb"><a href="/grade/info">Rules and Info</a></li>
          <div class="topnav-right">
            <li class="nb">
              <form action="/grade/logout" method="POST">
                <button class="logoutbtn" type="submit">Log Out</button>
              </form>
            </li>
          </div>
        </ul>
      </div>
      <div id="subContent">
        <div class="info-block">
          <div class="title"><p>Profile</p></div>
          <div class="userinfo">Name: <%=locals.name%></div>
          <div class="userinfo">Username: <%=locals.username%></div>
          <table>
            <tr>
              <th>
                <div class="info">Stats</div>
              </th>
            </tr>
            <tr>
              <td>
                Contests: 1
              </td>
            </tr>
            <tr>
              <td>
                Rating: 100000
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
