<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <script type="text/javascript" src="../particles.js"></script>
    <script> particlesJS.load("particles-js", "../particles.json", function () {console.log("callback - particles.js config loaded")});</script>
    <div id="particles-js" class="particles-js"></div>

    <div id="mainContent">
      <div class="navbar">
        <ul class="nb">
          <li id="logoHolder" class="nb"><img class="logo" src="/images/logo.svg"></li>
          <li class="nb"><a class="active" href="/grade/profile"><p>Home</p></a></li>
          <li class="nb"><a href="/grade/status"><p>Submissions</p></a></li>
          <li class="nb"><a href="/grade/contests"><p>Contests</p></a></li>
          <li class="nb"><a href="/grade/problemset"><p>Problemset</p></a></li>
          <li class="nb"><a href="/grade/submit"><p>Submit</p></a></li>
          <li class="nb"><a href="/grade/info"><p>Rules and Info</p></a></li>
          <li class="nb topnav-right">
            <form style="height: 100%;" action="/grade/logout" method="POST">
              <button class="logoutbtn" type="submit">Log Out</button>
            </form>
          </li>
        </ul>
      </div>

      <div id="subContent">
        <div class="info-block">
          <div class="title"><p>Profile</p></div>
          <div class="userinfo">Name: <%=locals.name%></div>
          <div class="userinfo">Username: <%=locals.username%></div>
            <form action="/grade/updateStats" method="POST">
              <div class="statsInfo">
                <label for="usaco_div">USACO Division</label>
                <select name="usaco_div">
                  <option value="none" <% if(locals.usaco_div=="none") { %> selected  <% } %> >Not Participated</option>
                  <option value="bronze" <% if(locals.usaco_div=="bronze") { %> selected  <% } %> >Bronze</option>
                  <option value="silver" <% if(locals.usaco_div=="silver") { %> selected  <% } %> >Silver</option>
                  <option value="gold" <% if(locals.usaco_div=="gold") { %> selected  <% } %> >Gold</option>
                  <option value="plat" <% if(locals.usaco_div=="plat") { %> selected  <% } %> >Platinum</option>
                </select>
              </div>
              <div class="statsInfo">
                <label for="cf_handle">Codeforces Handle</label>
                <input name="cf_handle" value=<%=locals.cf_handle%>>
              </div>
              <div class="statsInfo">
                <input type="submit" value="Save">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
