<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../profile.css" />
    <title>Spamming</title>
</head>

<body>
    <%- include("partials/particles", {depth: 1}); %>
    <%- include("partials/header"); %>

    <div class="main-block">
        <div class="info"><strong>
                You are submitting too often<br>
            </strong>
        </div>
    </div>
</body>
