<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../style.css" />
  <title>TJIOI Login</title>
</head>

<body>
    <div class="bgbox">
      <div class="title"><strong>TJIOI Login</strong></div>

      <div class="subbox">
        <div class="subtext">
          <form action="/grade/tjioilogin" method="POST">

            ID: <br>
            <input type="text" name="id" id="id" maxlength="100" required></input>
            <br><br>
            
            Password: <br>
            <input type="password" name="password" id="password" maxlength="100" required></input>
            <br><br>
            <br>

            <div class="cnt_buttons">
              <button class="button" type="submit">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>

</body>

</html>
