html {
    background: rgb(4,0,65);
    background: linear-gradient(15deg, rgba(4,0,65,1) 0%, rgba(1,17,100,1) 50%, rgba(0,38,168,1) 100%);
    background-attachment: fixed;
}
body {
    margin: 0;
    padding: 0;
}
.info-block {
    background-color: rgb(0, 0, 0, 0.6);
    width: 35%;
    margin: 1%;
    padding: 4%;
    border-radius: 2vw;
    line-height: 3em;
}   
.title {
    font-size: 2.5em;
    color: white;
    font-family: 'Lucida Sans';
}
.info {
    font-size: 1.25em;
    color: white;
    font-family: 'Lucida Sans';
}
.centertext {
  text-align: center;
}
.main-block {
    background-color: rgb(0, 0, 0, 0.6);
    width: 90%;
    margin: 1%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vw;
    line-height: 3em;
    text-decoration: none;
}
.problem-text {
    color:white;
    font-size: 1.5em;
    padding-left: 2%;
    font-family: 'Lucida Sans';
}
a {
    text-decoration: none;
    color: rgb(66, 221, 245);
}
ul.sl {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
li.sl {
    width: 100%;
    background-color: rgb(77, 119, 159);
    border-radius: 1vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}
li.sl:hover {
    background-color: rgb(51, 145, 234);
}
li.slg {
    width: 100%;
    background-color: rgb(74, 74, 74);
    border-radius: 1vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.statement {
    color:white;
    font-size: 1.5em;
    width: 100%;    
    font-family: 'Lucida Sans';
}
.option-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 4vw;
    padding: 2%;
    margin: 1%;
}
.button {
    padding: 0.5vw;
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-color: rgb(65, 136, 203);
    text-align: center;
    color:black;
    font-size: 1.5em; 
    font-family: 'Lucida Sans';
    position: relative;
}
.button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 145, 234);
}
input[type=text] {
    width: 5%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    box-sizing: border-box;
    font-size: 100%;
    margin: 1%;
}
input[type=file] {
    width: 100%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    box-sizing: border-box;
    font-size: 100%;
    margin: 1%;
    font-family: 'Lucida Sans';
}
.indent {
    margin: 1%;
}
.logout {
    padding: 2%;
    position: absolute;
    bottom: 2%;
    left: 2%;
}
.cnav {
    background-color: rgb(0, 0, 0, 0.6);
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vw;
    line-height: 1em;
    text-decoration: none;
    font-family: 'Lucida Sans';
}
ul.cnb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.cnb {
    float: left;
}
li.cnb a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.cnb a:hover:not(.active) {
    background-color: rgb(62, 62, 62);
}
.cactive {
    background-color: rgb(100, 100, 100, 0.5);
}
.navbar {
    margin: 0;
    padding: 0;
    position: sticky;
    font-family: 'Lucida Sans';
}
ul.nb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(22, 22, 22, 0.8);
}
li.nb {
    float: left;
}
li.nb a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.nb a:hover:not(.active) {
    background-color: rgb(62, 62, 62);
}
.active {
    background-color: #0074da;
}
table {
	width: 100%;
	color: white;
	background-color: rgb(77, 119, 159);
	font-family: 'Lucida Sans';
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5vw;
	border-collapse: collapse;
}
th {
    font-size: 1.75em;
    border: 1px solid;
    border-color: black;
}
td {
	font-size: 1.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-decoration: none;	
	border: 1px solid;
	border-color: black;
}
html, body {
    height: 100%;
    width: 100%;
}
