html {
  background: rgb(25, 25, 35);
  background-attachment: fixed;
}
body {
  margin: 0;
  padding: 0;
  font-family: monospace !important;
  color: white;
}
a {
  text-decoration: none;
  color: rgb(66, 221, 245);
}
p {
  margin: 0;
}
button {
  font: inherit;
}


.particles-js {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1000;
}
.particles-js-canvas-el {
  position: absolute;
}

#mainContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#subContent {
  flex: 1;
}

.info-block {
  position: relative;
  top: 15%;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);

  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
  border-radius: 0.75vw;

  width: 40%;
  margin: auto;
  padding: 6em;
  z-index: 1000;

  display: flex;
  flex-direction: column;
}

.title {
  margin: auto;
  text-align: center;
  font-size: 3em;
  font-family: monospace;
  font-weight: bold;
}

.userinfo {
  margin: 0.5em;
  font-size: 1.7em;
}

.statsInfo {
  flex: 1;
}

.navbar {
  background-color: rgb(0, 51, 126, 0.7);
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 0;
  position: sticky;
  font-size: 1.2em;
  height: 50px;
}

.logo {
  height: 2rem;
  padding: 0;
  margin: 0;
}

#logoHolder {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  aspect-ratio: 1/1;
}

ul.nb {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.nb {
  display: flex;
  float: left;
  height: 100%;
}

li.nb:has(>a.active){
  background-color: rgb(22, 84, 176);
}

li.nb:has(>a:hover:not(.active)) {
  background-color: rgb(50, 50, 50);
}

li.nb a {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 1em 0 1em;
  color: white;
  justify-content: center;
  align-items: center;
}

.logoutbtn {
  height: 100%;
  background: none;
  border: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav-right {
  padding-right: 0 !important;
  float: right !important;
}

.logoutbtn:hover:not(.active) {
  background-color: rgb(62, 62, 62);
}

.centertext {
  text-align: center;
}


.container {
  display: inline-flex;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90%;
}

.main-block {
  background-color: rgb(0, 0, 0, 0.6);
  width: 90%;
  margin: 1%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2vw;
  line-height: 3em;
  text-decoration: none;
}
.problem-text {
  color: white;
  font-size: 1.5em;
  padding-left: 2%;
  /* font-family: "Lucida Sans"; */
}

ul.sl {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
li.sl {
  width: 100%;
  background-color: rgb(77, 119, 159);
  border-radius: 1vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}
li.sl:hover {
  background-color: rgb(51, 145, 234);
}
li.slg {
  width: 100%;
  background-color: rgb(74, 74, 74);
  border-radius: 1vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.statement {
  color: white;
  font-size: 1.5em;
  width: 100%;
  /* font-family: "Lucida Sans"; */
}
.option-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 4vw;
  padding: 2%;
  margin: 1%;
}
.button {
  padding: 0.5vw;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: rgb(65, 136, 203);
  text-align: center;
  color: black;
  position: relative;
}
.button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 145, 234);
}
input[type="text"] {
  width: 5%;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  box-sizing: border-box;
  font-size: 100%;
  margin: 1%;
}
input[type="file"] {
  width: 100%;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  box-sizing: border-box;
  font-size: 100%;
  margin: 1%;
  /* font-family: "Lucida Sans"; */
}
.indent {
  margin: 1%;
}
.logout {
  padding: 2%;
  position: absolute;
  bottom: 2%;
  left: 2%;
}
.cnav {
  background-color: rgb(0, 0, 0, 0.6);
  width: 90%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2vw;
  line-height: 1em;
  text-decoration: none;
  /* font-family: "Lucida Sans"; */
}
ul.cnb {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.cnb {
  float: left;
}
li.cnb a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.cnb a:hover:not(.active) {
  background-color: rgb(62, 62, 62);
}
.cactive {
  background-color: rgb(100, 100, 100, 0.5);
}

table {
  width: 100%;
  color: white;
  background-color: rgb(77, 119, 159);
  /* font-family: "Lucida Sans"; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5vw;
  border-collapse: collapse;
}
th {
  font-size: 2em;
  border: 1px solid;
  border-color: black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
td {
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-decoration: none;
  border: 1px solid;
  border-color: black;
}
html,
body {
  height: 100%;
  width: 100%;
}

#schedule table,
#schedule th,
#schedule td {
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 1em;
}
