html {
  background-attachment: fixed;
  height: 200%;
  background: linear-gradient(15deg, rgba(2, 0, 36, 1) 0%, rgba(1, 22, 114, 1) 88%, rgba(0, 39, 175, 1) 98%, rgba(0, 57, 255, 1) 100%);
  overflow-x: hidden;
}

.codebox {
  width: 500px;
  height: 500px;
  border: 1px;
  border-color: black;
}

.button_link {
  text-decoration: none;
}

.main {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.bgbox {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  border-radius: 3vw;
  z-index: 100;
  position: relative;
  opacity: 0.8;
}

.subbox {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 5%;
  width: 90%;
  background-color: #3b3b3b;
  border-radius: 1vw;
  z-index: -998;
  position: relative;
  opacity: 0.8;
}

.subtext {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 150%;
  font-family: 'Verdana';
  opacity: 1.0;
  color: rgb(255, 255, 255);
  padding: 0%;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 500%;
  font-family: 'Verdana';
  color: rgb(0, 157, 255);
  opacity: 1.0;
}

.submit {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 100%;
  font-family: 'Verdana';
  color: rgb(0, 157, 255);
  padding: 3%;
}

.cnt_buttons {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.button {
  padding: 20px;
  width: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: rgb(0, 157, 255);
  text-align: center;
  color: black;
  font-size: 150%;
  font-family: 'Lucida Console';
  position: relative;
  opacity: 1.0;
  z-index: 200;
}

.button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(219, 90, 245);
}

.animation-area {
  position: absolute;
  z-index: -999;
}

